################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/CongestionTax.RuleEngine/bin/Debug/net6.0
/src/CongestionTax.RuleEngine/obj
/test/CongestionTax.Test/bin/Debug/net6.0
/test/CongestionTax.Test/obj
/src/CongestionTax.Core/bin/Debug/net6.0
/src/CongestionTax.Core/obj
/src/CongestionTax.Infrastructure/bin/Debug/net6.0
/src/CongestionTax.Infrastructure/obj
/obj
/src/CongestionTax.API/bin/Debug/net6.0
/src/CongestionTax.API/obj
/src/CongestionTax.Scheduling/bin/Debug/net6.0
/src/CongestionTax.Scheduling/obj
/src/CongestionTax.Service/bin/Debug/net6.0
/src/CongestionTax.Service/obj
/src/obj
/Backend Technical Test
/src/CongestionTax.API/CongestionTax.sqlite
/src/CongestionTax.API/CongestionTax.sqlite-shm
